@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}

.leftArea{float:left;}
.rightArea{float:right;}

.topBar{height: 35px; background-color: #9ACD32; line-height: 31px;}

 .topBar a:hover{color:red;}
/*logo*/
.logoBar{height:120px; background-color:#98FB98;}

.logo{padding-left: 0px; padding-top: 13px;}

.search_box{width: 430px; margin-top:35px; margin-left:120px; border: 1px solid #910091;}
.search_text{width: 350px; height: 35px; padding: 0  5px;}
.search_btn{width: 70px;height: 35px; font-size: 14px; font-family: "Microsoft YaHei","微软雅黑";
   			background-color: #FF8C00;color:#FFF;}
  /*购物车*/
.shopCar{width: 145px;height: 35px;background-color: #FF8C00; margin-top: 35px; margin-right: 59px;}
.shopText{font-size: 14px;font-family: "Microsoft YaHei","微软雅黑";line-height: 35px;
         color: #FFF; height: :100%;width: 87px;border-right:#E27A00 solid 1px;
         background: url(../images/icon/shopItem.png) 10px center no-repeat; text-indent: 40px;  }
.shopNum{width: 27px;height: 35px;border-left: #FF9C01 solid 1px;
         font: 14px/35px "Microsoft YaHei","微软雅黑";color: #FFF; 
         background: url(../images/icon/xiala.png) 33px center no-repeat; text-align: right;padding-right: 29px;}
/*导航栏*/
.navBox{height: 35px;background-color:#E9967A; color: #FFF;}
.shopClass{width: 190px;position: relative;}
.shopClass h3{text-align: center;line-height: 35px;}
.shopClass i{width: 17px;height: 13px; overflow: hidden;background: url(../images/icon/down.png) left center no-repeat;
              display: inline-block;margin-left: 15px;}
.nav,.shopClass{font-family: "Microsoft YaHei","微软雅黑";}              
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px;display: inline-block;padding:0 30px; color:#FFF; }
.nav .active{background-color: #DEB887;}
/*商品弹出列表*/
.shopClass_show{background-color:#DEB887;position: absolute;left: 0;top: 35px;width: 100%; }
.shopClass_item{padding: 14px 10px;border-bottom:#FF7F24 solid 1px;
                border-top: #FF7F24 solid 1px; }
.shopClass_item dt{height: 24px;background:url(../images/icon/shop_sj.png) right center no-repeat; }
.shopClass_item .b{font-family:"Microsoft YaHei","微软雅黑";font-size: 14px;font-weight: bold; 
                      /*font:14px/1 "Microsoft YaHei","微软雅黑";*/}
.shopClass_item a{color: #FFF;}
.shopClass_item .aLink{width: 60px; height: 25px;background: url(../images/icon/aLink_bg.png) right center no-repeat;
                      display: inline-block;text-align: center;line-height: 25px;padding-right: 0px;text-decoration: underline;}