@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}

.leftArea{float:left;}
.rightArea{float:right;}
.leftArea2{float:left;}

.topBar{height: 35px; background-color: #DBE1E6; line-height: 31px; font-family: "LiSu";}

.topBar a:hover{color:red;}

/*logo*/
.logoBar{height:120px; background-color:#F4F4F4;}

.logo{padding-left: 10px; padding-top: 8px;}

.search_box{width: 430px; margin-top:34px; margin-left:145px; border: 2px solid #7BB00D;}
.search_glass{width: 40px;height: 32px;background: url(../images/icon/Cabbage.png) 0px center no-repeat; }
.search_text{width: 300px; height: 32px; padding: 0 1px;}
.search_btn{width: 70px;height: 32px; font-size: 14px; font-family: "Microsoft YaHei","微软雅黑";
   			background-color: #7BB00D;color:#EAFFFF;}

  /*购物车*/
.shopCar{width: 160px;height: 35px;background-color: #7BB00D; margin-top: 35px; margin-right: 40px;}
.shopText{ font-size: 15px;font-family: "Microsoft YaHei","微软雅黑";line-height: 35px;
         color: #FFF; height:100%;width: 94px;border-right:#7BB00D solid 1px;
         background: url(../images/icon/shopCar.png) 0px center no-repeat; text-indent: 46px;}
.shopNum{width: 27px;height: 35px;border-left: #458B00 solid 1px;
         font: 14px/35px "Microsoft YaHei","微软雅黑";color: #FFF; 
         background: url(../images/icon/xiala.png) 33px center no-repeat; text-align: right;padding-right: 29px;}

/*导航栏*/
.navBox{height: 35px;background-color:#83B842; color: #FFF;}
.shopClass{width: 194px;position: relative;}
.shopClass h3{text-align: center;line-height: 35px;}
/*.shopClass i{width: 17px;height: 13px; overflow: hidden;background: url(../images/icon/down.png) left center no-repeat;*/
              /*display: inline-block;margin-left: 15px;}*/
.nav,.shopClass{font-family: "Microsoft YaHei","微软雅黑";}              
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px;display: inline-block;padding:0 45px 0 45px; color:#FFF;/*color: #DC143C;*/ }
.nav .active{background-color: #D6D6D6;}
/*.nav span:hover{background-color: #DC143C;}*/
.nav .bianse:hover{background-color:#556B2F;}

/*商品弹出列表*/
.shopClass_show{background-color:#DEB887;position: absolute;left: 0;top: 35px;width: 100%; }
.shopClass_item{padding: 14px 10px;border-bottom:#FF7F24 solid 1px;
                border-top: #FF7F24 solid 1px; }
.shopClass_item dt{height: 24px;background:url(../images/icon/shop_sj.png) right center no-repeat; }
.shopClass_item .b{font-family:"Microsoft YaHei","微软雅黑";font-size: 14px;font-weight: bold; 
                      /*font:14px/1 "Microsoft YaHei","微软雅黑";*/}
.shopClass_item a{color: #FFF;}
.shopClass_item .aLink{width: 60px; height: 25px;background: url(../images/icon/aLink_bg.png) right center no-repeat;
                      display: inline-block;text-align: center;line-height: 25px;padding-right: 0px;text-decoration: underline;}

/*banner部分*/
.banner{margin-bottom: 15px;} 
.banner_bar{float: right;position: relative;overflow: hidden;}
.imgBox{position: absolute;left: 0;top: 0;}
.imgBox li{float: left;}
.imgBox img{display: block;}
.imgNum{position: absolute;left: 0;bottom: 10px;width: 100%;text-align: center;}
.imgNum a{width: 20px;height: 5px;overflow: hidden;background-color: #FFF;display: inline-block;margin: 0 3px;}
.imgNum .active{background-color:#EE0000;}
.banner_big,
.banner_big img{width: 810px;height: 375px;}
.banner_big .imgBox{width: 1620px;height: 375px;}
.banner_sm,
.banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}

/*商品标题*/
.shopTit{margin-top: 400px;}
.shopTit{height: 44px;font-family: "Microsoft YaHei","微软雅黑";line-height: 44px;}
.shopTit h3{font-size: 24px;float: left;font-weight: normal;padding-left: 15px;}
.icon{width: 44px;height: 44px; 
          background:url(../images/icon/shopIcon.png) left top no-repeat; float: left;}
.more{float: right;font-family: "Microsoft YaHei","微软雅黑";}
.more:hover{text-decoration: underline;}

/*商品列表*/
.shopList{margin-top: 15px;}
.shopList .leftArea{width: 191px;}
.shopList .leftArea2{width: 806px;border:#999 solid 1px; border-bottom: #FF7201 solid 3px;
  height: 396px;overflow: hidden;}

/*商品列表右侧上部*/
.shopList_top,
.shopList_sm{margin-right:-4px;}
.shop_item{width: 201px;border-right:#999 solid 1px;height: 279px;border-bottom:#999 solid 1px;
  text-align: center;font-family:"Microsoft YaHei","微软雅黑";float: left; }
.shop_item h3{font-size: 16px;}
.shop_item p{font-size: 14px;color: #FF7300;line-height: 21px;}
.shop_img{height: 218px;}
.shop_img img{width: 100%;height: 218px;display: block;}

/*商品列表右侧下部*/
.shopItem_sm{width: 201px;border-right:#999 solid 1px;height: 116px;float: left;}
.shopItem_smImg{margin-top: 20px; width: 95px;height: 35px;text-align: center;float: left;}
.shopItem_text{padding-top: 28px;width: 100px;float: left;}
.shopItem_text p{color: #FF7300;}
.shopItem_text h3{font-family:"Microsoft YaHei","微软雅黑";font-size: 16px;font-weight: normal;line-height: 30px;}


/*购物车用*/
/*1.topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31px;}
.topBar a:hover{color:red;}
.stepBox{width:396px; padding-top:26px;}
.step{background:url(../images/icon/shoppingStep2.jpg) left top no-repeat; height:19px;}
.step_text{color:#FFF; font-size:12px; line-height:30px;}
.step_text li{float:left;}
.s01,.s03{width:30%;}
.s02{width:40%; text-align:center;}
.s03{text-align:right;}
.step_text .active{color:#F3E402; font-weight:bold;}
.shoppingCart{padding-top:10px;}
.shopping_item{border:#ccc solid 1px;}
.shopping_tit{height:31px; background:url(../images/icon/shopping_bg.jpg) left top repeat-x;  color:#444444; font:16px/31px "Microsoft YaHei", "微软雅黑"; text-indent:12px; border-bottom:#E3E3E3 solid 1px;}
.padding_shop{padding:25px 30px;}
.shopping_list_text{float:left; width:90px; line-height:24px;}
.cart_tel,.input{vertical-align:middle;}
.cart_tel{display:inline-block; height:24px; line-height:24px;}
.shopping_list li{height:24px; margin-bottom:10px;}
.shopping_list_text em{color:#F30; font-style:normal; margin-right:5px;}
.input{height:22px; line-height:22px\9; border:#CCC solid 1px; padding:0 6px; width:110px;}
.input_b{width:392px;}
.input_s{width:64px;}
.input_s2{width:84px;}
.jian{padding:0 3px;}
.affirm{width:114px; height:28px;   }
.radio{position:relative; top:3px; margin-right:4px;}
.backCar{float:right; font-size:12px; font-family:"宋体"; margin-right:33px; color:#3377FF;}
.backCar:hover{text-decoration:underline;}
.cart_head{padding-top:5px;}
.cart_head .cart_item{line-height:28px;}
.cart_item{border-bottom:#CCC solid 1px; float:left;}
.t_name{width:440px; padding-left:30px;}
.t_price{width:134px;}
.t_return{width:136px;}
.t_num{width:135px;}
.t_subtotal{width:123px;}
.t_red{color:red;}

/*商品信息 ——范亮*/
.cart_cont{border-bottom:solid 1px #ccc;}
.cart_cont .cart_item{border-bottom:none;}
.cart_cont .t_price,
.cart_cont .t_return,
.cart_cont .t_num,
.cart_cont .t_subtotal{line-height:40px;}
.cart_shopInfo img{width:90px; height:100px; display:block; float:left;}
.cart_shopInfo_cont{padding-left:90px; font-size:12px;}
.cart_link{line-height:37px; margin-bottom:30px;}
.cart_link a:hover{text-decoration:underline;}
.cart_info{color:#000;}
.cart_message{line-height:40px; padding-left:30px; margin-bottom:10px;}
.cart_prompt{line-height:40px; padding-left:30px; color:red;}
.cart_prompt_icon{width:12px; height:12px; display:inline-block; background-position:0 -19px; margin-right:11px;}
.pb_10{padding-bottom:10px;}
.cart_no_bor{border-bottom:none;}
.cart_rmb{margin-bottom:16px;}
.cart_rmb i{font-size:14px; color:#999; font-style:normal;}
.cart_rmb span{font:bold 24px/1 Verdana; color:red;}
.cart_btnBox{text-align:right;}
.cart_btn{width:80px; height:33px; background-color:
        #7fffd4; font:18px/33px "Microsoft YaHei", "微软雅黑"; color:#FFF;}

.hr_25{height:25px;}

/*商品数量控制部分*/
p.p_num {
    width: 78px;
    height: 24px;
    border-top: solid 1px #d0d0d0;
    position: relative;
    border-bottom: solid 1px #d0d0d0;
    margin-top: 10px;
}

span.sy_minus,span.sy_plus {
    width: 15px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    font-size: 14px;
    border: solid 1px #d0d0d0;
    background: #ebebeb;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
}

span.sy_minus {
    left: 0px;
}

span.sy_plus {
    right: 0px;
}

input.sy_num {
    width: 44px;
    height: 18px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 17px;
}

span.sy_num {
    padding: 5px 8px;
    border: solid 1px #d0d0d0;
    border-left: none;
    border-right: none;
    cursor: pointer;
}









/*商品详情页*/
/*商品详情*/
.grey{background-color: #FFEFD5;}
/*.userPosition{font-family:"Microsoft YaHei","微软雅黑";font-size: 12px;}*/
.userPosition{font-size: 0;font-family: Verdana;margin-top: 25px;margin-bottom: 15px;}
.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a{font-size: 12px;}
.userPosition em{font-style:normal;}
.userPosition a:hover{text-decoration: underline;}
.description_info{background-color:#FFF;height: 558px;}
.description_info{border:#CCC solid 1px;}
/*.description_info .des_smimg{border:#CCC solid 1px;}*/
.description .leftArea{width: 307px;}
/*.description .leftArea .des_smimg{border:#CCC solid 1px;}*/
.description .rightArea{width: 688px;border-left:#CCC solid 1px;}

/*图片展示*/
.description_imgs .big{height: 310px; text-align: center;}
.description img{margin-top: 10px;margin-right: 0px;}
.des_smimg{height:50px;padding-left: 1px;width: 265px;margin: 0 auto;}
.des_smimg li{float: left;margin-left: -1px;}
.des_smimg img{border: #CCC solid 1px;}
.des_smimg .active{border-color: #317EE7;position: relative;}
.des_content{padding: 10px;}
.des_content .dise{background-color: #F2F2F2;}
.des_content h3{font-family:"Microsoft YaHei","微软雅黑";font-size: 16px;line-height: 22px;padding: 13px 25px;}
.des_content .dl{margin-bottom: 8px;background-color: #F2F2F2;}
.des_content .dt{width: 100px;color: #666;text-indent: 25px;line-height: 28px;font-family:"Microsoft YaHei","微软雅黑";}
.des_content .dd{/*float:auto;*/padding-left: 75px;font-size: 18px;*padding-left:0;/*line-height: 25px;*/}
.des_content .dd1{/*float:auto;*/padding-left: 100px;font-size: 18px;/*line-height: 25px;*/}
.des_content .dd2{/*float:auto;*/padding-left: 100px;font-size: 18px;/*line-height: 25px;*/}
.des_content .k1{float: left; line-height: 28px;}
.des_money{font-size: 18px;color: #F30;font-family:Verdana;}
.des_money em{font-style: normal; font-size: 12px;}
/*.des_content .dd{float: left;color: #666;text-indent: 25px;line-height: 28px;}*/
/*送货*/
.des_position{margin-top: -8px;/*background-color: #F2F2F2;*/padding: 15px 0; }
.theGoods{line-height: 24px;padding-left: 20px;font-size: 12px;font-family:Verdana;}
.des_content .colorSelect{float: left; line-height: 35px;}
.des_item{float: left;color: #666;padding: 3px 10px;border: #CCC solid 1px;background-color: #FFF;margin-right: 10px;}
.des_item_active{border-color: #317EE7;color: #333;}
.des_content .typeSelect{line-height: 35px;}
.des_item_sm{float: left;padding: 0px 0px;margin-bottom: 8px;}
/*数量*/
.des_number{/*padding-left: 20px;*/border:#B2B2B2 solid 1px;height: 32px;width: 82px;}
.des_number div{height: 100%;float: left;}
.reduction,.plus{width:15px;background-color: #79CDCD;line-height: 32px;text-align: center;color: #333;}
/*.reduction{border-left: #CCC solid 1px;margin-left: -1px;}*/
/*.plus{border-right: #CCC solid 1px;/*margin-left: -1px;} */
.des_input{/*margin-left: 10px;*/width: 40px;border-right: #CCC solid 1px;border-left: #CCC solid 1px;padding:0 5px;}
.des_input input{width: 100%;height: 100%;line-height: 32px\9;text-align: center; }
.des_content .des_num{width: 140px;line-height: 32px;}
/*已选择*/
.des_select{font-weight: bold;margin-bottom:12px;margin-top: 22px;text-indent: 17px;}
.des_select span{color: #0479C9;}
.shop_buy{text-align: center;}
.shopping_btn{display: inline-block;width: 180px;height: 35px;background: url(../images/icon/shopping_btn.png)
  left top no-repeat;}
.buy_btn{display: inline-block;width: 180px;height: 35px;background: url(../images/icon/buy_btn.png)
  left top no-repeat;}
.line{width: 1px; height: 90px;overflow: hidden;background-color: #CCC;display: inline-block;margin:0 80px;}
.line,.shopping_btn,.buy_btn{vertical-align: middle;}
.hr_25{height:25px;}
.hr_15{height:15px;}
/*产品介绍*/
.hr_45{height:45px;}
.des_info .leftArea{width: 190px; /*height: 300px;background:red;*/}
.des_info .rightArea{width: 790px;/*height: 200px;background: pink;*/}
.recommend{border: #CCC solid 1px;background-color: #FFF;padding-bottom: 15px;}
.recommend .tit{height: 39px;border-bottom: solid 1px #CCC;line-height: 39px;text-indent: 10px;font-size: 14px;
background-color: #F3F3F3;}
.recommend .tit2{margin-top: 50px;height: 39px;border-top: solid 1px #CCC;border-bottom: solid 1px #CCC;line-height: 39px;text-indent: 10px;font-size: 14px;
background-color: #F3F3F3;}
.recommend .item{float: none;height: auto;}
.des_info .item_cont{margin-top: 15px;border-top: #CCC solid 1px;border-bottom: #CCC solid 1px;}
.des_info .money{color: red;font-weight: bold;padding-top: 0;}
/*详细介绍*/
.des_infoContent{border: #CCC solid 1px; background-color: #FFF;}
.des_tit{height: 39px;/*border-top: #CCC solid 1px;*/background: url(../images/icon/des_title.png)left top repeat-x;}
.des_tit li{float: left;width: 50%;/*font-size: 14px;line-height: 39px;*/font:16px/39px "宋体";
text-align: center;border-left: solid 1px #CCC;margin-left: -1px;}
/*.des_tit .x{border-left: solid 2px;}*/
.des_tit .active{background-color: #83B842;font-weight: bold;color: #FFF;position: relative;}
.des_tit .a{background: url(../images/icon/jieshao.png) left no-repeat;padding-left: 45px;
display: inline-block;line-height: 39px;}
.des_tit .b{background: url(../images/icon/pingjia.png) left no-repeat;padding-left: 45px;
display: inline-block;line-height: 39px;}
.ad{padding: 30px 0;text-align: center;}
.info_tit{height: 26px;border-bottom: #CCC solid 1px; font-family: "Microsoft YaHei","微软雅黑";margin-bottom: 18px;}
.info_tit h3{float: left;font-size: 16px;color: #2357A5;border-bottom: #2357A5 solid 1px;height: 26px;
	margin-bottom: -1px; position:relative;padding-right: 8px;}
.info_tit h4{font-size: 12px;line-height: 26px;padding-left: 4px;color: #656565;}
.info_text{padding:0 20px;}
.info_text p{line-height: 22px; font-size: 14px; color: #656565;}

/*商品评价*/
.shopDes_tit{line-height: 38px;height: 38px;font-size: 14px;color: #656565;padding-left: 10px;}
.score_box{padding-left: 10px;height: 120px;}
.score{font-family: "Microsoft YaHei","微软雅黑";float: left; margin-right: 15px;}
.score em{font-size: 18px;color: #65657D;font-weight: normal;}
.score span{font-size: 50px;color: #FF8F00;}
.score_speed{float: left; width: 450px;line-height: 16px;font-size: 12px;margin-top: 18px;position: relative;}
.score_speed_text{/*height: 100%;*/margin-bottom: 10px;overflow: hidden;height: 16px;background-color: #BDBDBD;	color: #FFF;}
.score_speed_text li{float: left;}
.score_speed_text .speed_01{width: 114px;text-indent: 26px;}
.score_speed_text .speed_02{width: 82px;}
.score_speed_text .speed_03{width: 76px;}
.score_speed_text .speed_04{width: 65px;}
.score_num{position: absolute;left: 94%;top: -21px;text-align: center;width: 25px;height: 14px;
	background-color: #7F7F7F;color: #FFF;}
.score_num i{border-width: 4px;border-style: solid dashed dashed dashed;border-color: 
 #7F7F7F transparent transparent transparent; width: 0;height: 0;}
/*满意切换*/
.review_tab{height: 32px;background-color: #F2F2F2;}
.review{line-height: 32px;height: 100%;padding-left: 20px;}
.review li{float: left;height: 100%;margin-right: 40px;}
.review li a{display: inline-block;height:30px;line-height: 30px;padding: 0 5px;}
.review .active{color: #83B842;font-weight: bold;border-bottom: #83B842 solid 2px;margin-bottom: -2px;position:relative;}
.review_list{padding-top: 20px;height: 90px;padding-bottom: 10px;}
.review_userHead{width: 170px;}
.review_user{width:60px;text-align: center;margin-left: 35px;}
.review_user img{width: 64px;height: 64px;display: block;margin-left: 5px;}
.review_user p{line-height: 20px;}
.review_cont{padding-left: 170px;padding-top: 5px;}
.comment{font-weight: bold;font-family:"Microsoft YaHei","微软雅黑";font-size: 18px;}
.review_cont .words{line-height: 24px;font-family:"Microsoft YaHei","微软雅黑";font-size: 15px;}
.review_list{border-bottom:#CCC solid 1px;}
.pages{text-align: center;padding-bottom: 10px;padding-top: 15px;}
.shang{padding-right: 10px;}
.xia{padding-left: 10px;}
.forward{padding-right: 35px;}
.pages .now{border: #CCC solid 1px;}
.pages .now{padding-left: 10px;padding-right: 10px;}
.next{padding-left: 35px;}
.pages .forward:hover{color:red;}
.pages .next:hover{color:red;}



/*评论*/
/*.comment{height: 250px;width: 800px;background-color: red;margin: auto;margin-top: 80px;}*/
/*.comment{border:   #A4D3EE solid 2px;}*/
.comment .textline{height: 45px;width: 800px;background-color:#9BCD9B;margin: auto;margin-top: 80px;
  line-height:45px;font-family: "华文隶书";font-size: 25px;font-weight: bold;text-align: center; }
.comment .pingjia{height: 30px;width: 800px;margin: auto;line-height: 30px;font-size: 20px;
  font-family:"华文隶书";background-color: #CDC9C9;}
.pingji{padding-left: 6px;font-weight: bold;font-size: 24px;}
.pingjia li{float:left;width: 156px;font-family: "仿宋";background-color: #CDC9C9;}
.pingjia .xuanze1{padding-left: 20px;}
/*.checkbox{border:#CCC solid 1px; }*/
.commenttext{height: 220px;width: 800px;margin: auto;font-family: "华文隶书";background-color: #C6E2FF;}
.text{border: #B8860B solid 1px;height: 100px;width: 665px;margin-left: 70px;font-size: 18px;}
.submit{background-color:#A2CD5A;width: 80px;height: 30px;margin-left: 68px;font-family: "华文仿宋";
  font-weight: bold;font-size: 18px;}
.back{background-color:#A2CD5A;width: 80px;height: 30px;margin-left: 30px;font-family: "华文仿宋";
  font-weight: bold;font-size: 18px;}
/*底部*/
.footer{margin-top: 1200px;height: 200px; text-align: center;background-color: #D4D4D4;line-height: 24px;
  padding: 50px 0;}
.footer i{font-style: normal;margin: 0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60;}