@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}

.leftArea{float:left;}
.rightArea{float:right;}
.leftArea2{float:left;}

.topBar{height: 35px; background-color: #DBE1E6; line-height: 31px; font-family: "LiSu";}

.topBar a:hover{color:red;}

/*logo*/
.logoBar{height:120px; background-color:#F4F4F4;}

.logo{padding-left: 10px; padding-top: 8px;}

.search_box{width: 430px; margin-top:34px; margin-left:145px; border: 2px solid #7BB00D;}
.search_glass{width: 40px;height: 32px;background: url(../images/icon/Cabbage.png) 0px center no-repeat; }
.search_text{width: 300px; height: 32px; padding: 0 1px;}
.search_btn{width: 70px;height: 32px; font-size: 14px; font-family: "Microsoft YaHei","微软雅黑";
   			background-color: #7BB00D;color:#EAFFFF;}

  /*购物车*/
.shopCar{width: 160px;height: 35px;background-color: #7BB00D; margin-top: 35px; margin-right: 40px;}
.shopText{ font-size: 15px;font-family: "Microsoft YaHei","微软雅黑";line-height: 35px;
         color: #FFF; height: :100%;width: 94px;border-right:#7BB00D solid 1px;
         background: url(../images/icon/shopCar.png) 0px center no-repeat; text-indent: 46px;}
.shopNum{width: 27px;height: 35px;border-left: #458B00 solid 1px;
         font: 14px/35px "Microsoft YaHei","微软雅黑";color: #FFF; 
         background: url(../images/icon/xiala.png) 33px center no-repeat; text-align: right;padding-right: 29px;}

/*导航栏*/
.navBox{height: 35px;background-color:#83B842; color: #FFF;}
.shopClass{width: 194px;position: relative;}
.shopClass h3{text-align: center;line-height: 35px;}
/*.shopClass i{width: 17px;height: 13px; overflow: hidden;background: url(../images/icon/down.png) left center no-repeat;*/
              /*display: inline-block;margin-left: 15px;}*/
.nav,.shopClass{font-family: "Microsoft YaHei","微软雅黑";}              
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px;display: inline-block;padding:0 45px 0 45px; color:#FFF;/*color: #DC143C;*/ }
.nav .active{background-color: #D6D6D6;}
/*.nav span:hover{background-color: #DC143C;}*/
.nav .bianse:hover{background-color:#556B2F;}

/*商品弹出列表*/
.shopClass_show{background-color:#DEB887;position: absolute;left: 0;top: 35px;width: 100%; }
.shopClass_item{padding: 14px 10px;border-bottom:#FF7F24 solid 1px;
                border-top: #FF7F24 solid 1px; }
.shopClass_item dt{height: 24px;background:url(../images/icon/shop_sj.png) right center no-repeat; }
.shopClass_item .b{font-family:"Microsoft YaHei","微软雅黑";font-size: 14px;font-weight: bold; 
                      /*font:14px/1 "Microsoft YaHei","微软雅黑";*/}
.shopClass_item a{color: #FFF;}
.shopClass_item .aLink{width: 60px; height: 25px;background: url(../images/icon/aLink_bg.png) right center no-repeat;
                      display: inline-block;text-align: center;line-height: 25px;padding-right: 0px;text-decoration: underline;}

/*banner部分*/
.banner{margin-bottom: 15px;} 
.banner_bar{float: right;position: relative;overflow: hidden;}
.imgBox{position: absolute;left: 0;top: 0;}
.imgBox li{float: left;}
.imgBox img{display: block;}
.imgNum{position: absolute;left: 0;bottom: 10px;width: 100%;text-align: center;}
.imgNum a{width: 20px;height: 5px;overflow: hidden;background-color: #FFF;display: inline-block;margin: 0 3px;}
.imgNum .active{background-color:#EE0000;}
.banner_big,
.banner_big img{width: 810px;height: 375px;}
.banner_big .imgBox{width: 1620px;height: 375px;}
.banner_sm,
.banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}

/*商品标题*/
.shopTit{margin-top: 400px;}
.shopTit{height: 44px;font-family: "Microsoft YaHei","微软雅黑";line-height: 44px;}
.shopTit h3{font-size: 24px;float: left;font-weight: normal;padding-left: 15px;}
.icon{width: 44px;height: 44px; 
          background:url(../images/icon/shopIcon.png) left top no-repeat; float: left;}
.more{float: right;font-family: "Microsoft YaHei","微软雅黑";}
.more:hover{text-decoration: underline;}

/*商品列表*/
.shopList{margin-top: 15px;}
.shopList .leftArea{width: 191px;}
.shopList .leftArea2{width: 806px;border:#999 solid 1px; border-bottom: #FF7201 solid 3px;
  height: 396px;overflow: hidden;}

/*商品列表右侧上部*/
.shopList_top,
.shopList_sm{margin-right:-4px;}
.shop_item{width: 201px;border-right:#999 solid 1px;height: 279px;border-bottom:#999 solid 1px;
  text-align: center;font-family:"Microsoft YaHei","微软雅黑";float: left; }
.shop_item h3{font-size: 16px;}
.shop_item p{font-size: 14px;color: #FF7300;line-height: 21px;}
.shop_img{height: 218px;}
.shop_img img{width: 100%;height: 218px;display: block;}

/*商品列表右侧下部*/
.shopItem_sm{width: 201px;border-right:#999 solid 1px;height: 116px;float: left;}
.shopItem_smImg{margin-top: 20px; width: 95px;height: 35px;text-align: center;float: left;}
.shopItem_text{padding-top: 28px;width: 100px;float: left;}
.shopItem_text p{color: #FF7300;}
.shopItem_text h3{font-family:"Microsoft YaHei","微软雅黑";font-size: 16px;font-weight: normal;line-height: 30px;}

/*底部*/
.footer{margin-top: 450px;height: 200px; text-align: center;background-color: #D4D4D4;line-height: 24px;padding: 50px 0;}
.footer i{font-style: normal;margin: 0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60;};